.smallWeatherDayCard {
    display: flex;
    flex-direction: column;
    width: 19%;
    padding: 10px;
    box-sizing: border-box;
    background: #3bc7be96;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 6px 6px 10px 0px rgba(26, 101, 123, 0.75);
}

.date {
    font-family: 'Cooper-Hewitt';
    font-size: 15px;
    padding: 5px 0;
    border-bottom: 1px solid #3196ad;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 5px;
    padding-top: 5px;
}

.tabButton {
    line-height: 20px;
    background: #26c2e6;
    font-family: 'Cooper-Hewitt';
    font-weight: 400;
    border: 0.5px solid #2991a94d;
    font-size: 12.5px;
    margin-top: 2px;
    padding: 1px 8px;
    border-radius: 4.5px;
    cursor: pointer;
    transition: 0.15s;
    
    &:hover{
        background: #13b0d4;
    }
}

.activeTabButton {
    background: #13b0d4;
}

.tabButton:not(:last-child) {
    margin-right: 2px;
}

.tabs {
    padding-top: 10px;
    margin-top: auto;
    border-top: 1px solid #3196ad;
}