@font-face {
    font-family: 'Cooper-Hewitt';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/CooperHewitt-Light.woff') format('woff');
}

@font-face {
    font-family: 'Cooper-Hewitt';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/CooperHewitt-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Cooper-Hewitt';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/CooperHewitt-Bold.woff') format('woff');
}